<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brwakawa.android.todo"
    >
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:fullBackupContent="true"
        android:name="com.brwakawa.android.todo.todo">
        <activity
            android:name="com.brwakawa.android.todo.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.brwakawa.android.todo.SignUpActivity" />
        <activity android:name="com.brwakawa.android.todo.MainActivity"
            android:theme="@style/AppTheme.ActivityTracker"/>
        <activity android:name="com.brwakawa.android.todo.CreateActivity" />
        <activity android:name="com.brwakawa.android.todo.DetailActivity"
            android:theme="@style/AppTheme.Transparent.ActivityDetail"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>